Nan Removal 
Data Distribution (histogram)
Normalize
Correlation!!

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

In [23]:
df_sydney = pd.read_csv('Sydney_Data.csv')
df_tasmania = pd.read_csv('Tasmania_Data.csv')
df_queensland = pd.read_csv('Perth_Data.csv')
df_victoria = pd.read_csv('Adelaide_Data.csv')

labels = [f"X{i+1}" for i in range(16)] + [f"Y{i+1}" for i in range(16)]  + [f"P{i+1}" for i in range(16)] + ["Total Power"]

df_places_list = [df_sydney,df_tasmania,df_queensland,df_victoria]

for df in df_places_list:
    df.columns = labels
    before = len(df)
    df = df[df.isnull().any(axis=1)]
    after = len(df)
    print(f"{before}\n{after} Rows Removed duo to nulls numbers")
    print(df.loc[:,(df == np.nan).all()])
df_sydney = df_sydney.dropna()
df_sydney.describe()

71999
0 Rows Removed duo to nulls numbers
Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, Y1, Y2, Y3, Y4, Y5, Y6, Y7, Y8, Y9, Y10, Y11, Y12, Y13, Y14, Y15, Y16, P1, P2, P3, P4, P5, P6, P7, P8, P9, P10, P11, P12, P13, P14, P15, P16, Total Power]
Index: []

[0 rows x 49 columns]
71999
0 Rows Removed duo to nulls numbers
Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, Y1, Y2, Y3, Y4, Y5, Y6, Y7, Y8, Y9, Y10, Y11, Y12, Y13, Y14, Y15, Y16, P1, P2, P3, P4, P5, P6, P7, P8, P9, P10, P11, P12, P13, P14, P15, P16, Total Power]
Index: []

[0 rows x 49 columns]
71999
0 Rows Removed duo to nulls numbers
Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, Y1, Y2, Y3, Y4, Y5, Y6, Y7, Y8, Y9, Y10, Y11, Y12, Y13, Y14, Y15, Y16, P1, P2, P3, P4, P5, P6, P7, P8, P9, P10, P11, P12, P13, P14, P15, P16, Total Power]
Index: []

[0 rows x 49 columns]
71998
0 Rows Removed duo to nulls numbers
Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, Y1, Y2, Y3, Y4, Y5, Y6, Y7, Y8, Y9, Y10, Y11, Y12, Y13, Y14, Y15, Y16, P1, P2, P3, P4, P5, P6, P7, P8, P9, P10, P11, P12, P13, P14, P15, P16, Total Power]
Index: []

[0 rows x 49 columns]

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,P8,P9,P10,P11,P12,P13,P14,P15,P16,Total Power
count,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,...,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,71999.000000,7.199900e+04
mean,324.133374,318.477362,248.652631,273.801529,364.119683,270.716619,268.092122,251.208070,257.471430,263.834583,...,92460.884080,92400.975646,92359.920807,93528.646327,92532.953265,92866.755979,94515.600559,92124.749321,92812.610497,1.486229e+06
std,201.042089,200.451621,207.727700,202.495956,165.251348,221.883331,210.126467,191.411037,193.920646,203.081690,...,6351.798805,7314.158973,6617.069863,7108.760851,6631.067652,7179.122445,6828.225439,6978.018276,7128.182893,2.308365e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,67649.721100,67935.571500,67961.501700,67930.722800,68171.326100,68113.928900,68294.961800,66233.342800,64609.768500,1.361962e+06
25%,137.455000,131.145850,43.281500,63.622900,248.586900,38.901650,57.463400,79.830000,71.289250,48.943750,...,87871.385400,86957.379300,87504.869750,88247.377750,87321.966400,87602.912550,90045.083400,86835.587700,87872.906700,1.470987e+06
50%,355.491700,355.171500,201.883500,274.830100,388.361200,250.374600,233.010400,213.817000,239.241300,265.394800,...,92484.468800,91374.359800,92113.541800,93441.473900,93066.785000,91552.374600,94274.492400,91202.941700,91453.286100,1.487282e+06
75%,524.002100,518.243450,462.505600,468.287000,515.557000,511.209300,485.903150,422.632000,432.784500,457.985850,...,97638.110300,97719.256750,97502.161300,98653.938950,97534.290600,98739.756650,99668.769550,97512.504000,98362.924200,1.504180e+06
max,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,...,110026.753900,109417.620000,109240.703000,109668.448700,109185.088800,109898.206000,109237.388800,109087.161400,109253.606800,1.536347e+06

In [9]:
df_sydney.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,P8,P9,P10,P11,P12,P13,P14,P15,P16,Total Power
0,500.4677,278.6497,47.4062,417.3653,551.7083,401.1797,0.0000,161.7773,368.1543,45.9850,...,83029.8436,91483.7433,93748.1139,99467.6415,95935.6597,84254.7876,93786.3095,94499.4790,88941.7152,1489888.502
1,511.7510,104.4383,566.0000,380.4079,345.8587,0.0000,90.5588,7.2899,566.0000,566.0000,...,91309.1752,107598.5159,101897.2685,100876.0477,79350.0981,100060.2964,92733.9494,100646.9126,83394.8729,1495035.934
2,19.6990,216.4378,355.2960,67.8151,518.7256,72.1572,222.7933,223.9242,566.0000,312.4474,...,92083.6042,103182.5412,80688.8463,92306.4190,106440.6778,102118.7041,99295.1266,96503.3818,77942.2947,1459841.498
3,0.0000,0.0000,243.3420,0.0000,566.0000,0.0000,198.4878,0.0000,566.0000,566.0000,...,85602.1738,98370.5585,97148.3728,95775.0777,80723.5930,95865.7812,88525.7698,94546.5417,85021.1027,1475765.923
4,446.6611,421.0366,493.1895,566.0000,516.3773,566.0000,566.0000,474.8170,566.0000,0.0000,...,89796.6317,106234.3463,86528.7448,97221.3296,80957.7402,95689.2702,95590.0073,85799.2132,88227.3054,1486388.580

In [ ]:
# X = df_sydney.X1.values.reshape(-1,1)
# Y = df_sydney.Y1.values.reshape(-1,1)
# p = df_sydney.P1.values.reshape(-1)
# 
# X_train, X_test, y_train, y_test = train_test_split(X_order, y, test_size=0.3, random_state=44)